<div>
  <img src="/assets/home-main.png" alt="Headshot of Nick Rossi">
  <p>
    Hi, I'm <strong>Nick</strong>. I'm a software engineer from New Jersey. I enjoy creating projects and learning programming for many different things.
    Here I plan to log all that I learn and hopefully help someone else learn in the process!
    You can follow me on <a href="https://twitter.com/NRossi413" target="_blank">Twitter</a>
    and see some of my work on <a href="https://github.com/N-Rossi" target="_blank">GitHub</a>.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
